<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Argentina</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>

        <div class="header-top-bar">
            <div class="smartphone-top-bar">
                <img class="logo-main" src="./images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                    <div class="search-bar">Buscar productos, marcas</div>
                    <div class="search-icon"><i class="fas fa-search"></i></div>
            </div>
            <p class="hand-holding-usd"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="nav-bar">
            <ul type="none" class="nav-bar-sections">
              <li><a href="" class="site">Ofertas</a></li>
              <li><a href="" class="site">Tiendas Oficiales</a></li>
              <li><a href="" class="site">Vender</a></li>
              <li><a href="" class="site">Ayuda</a></li>
            </ul>
            <ul type="none" class="nav-bar-sections">
                <li><a href="/register" class="site">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login" class="site">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/" class="site">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>

        <img class="home-banner" src="/images/img-home-banner.jpg" alt="Home banner">
    </header>
    <main>

        <section><h3 class="title-section">Basado en tu última visita</h3>

            <div class="product-division">
                
                <article class="products">

                    <img class="photo-product" src="./images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera">
                    <div class="product-detail">    

                        <div class="logo-shipping"><i class="fas fa-truck"></i></div>
                        <div class="price-discounts">
                            <p class="price">$6.770</p>
                            <p class="discounts">40% OFF</p>
                        </div>
                        <h4 class="descriptions">Cafetera Moulinex</h4>
                    </div>
                </article>
            
            <article class="products">
                
                <img class="photo-product" src="./images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
                
                <div class="product-detail">
                    
                    <div class="logo-shipping"><i class="fas fa-truck"></i></div>
                    <div class="price-discounts">
                        <p class="price">$230.000</p>
                        <p class="discounts">20% OFF</p>
                    </div>
                    <h4 class="descriptions">MacBook Pro 2019</h4>
                </div>
            </article>
            
            <article class="products">
                
                <img class="photo-product" src="./images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
                
                <div class="product-detail">
                    
                    <div class="logo-shipping"><i class="fas fa-truck"></i></div>  
                    <div class="price-discounts">
                        <p class="price">$70.500</p>
                        <p class="discounts">10% OFF</p>
                    </div>
                    <h4 class="descriptions">Samsung Galaxy S10</h4>
                </div>
            </article>
            
            <article class="products">
                
                <img class="photo-product" src="./images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv">
                
                <div class="product-detail">
                    
                    <div class="logo-shipping"><i class="fas fa-truck"></i></div>
                    <div class="price-discounts">
                        <p class="price">$23.200</p>
                        <p class="discounts">5% OFF</p>
            </div>
                    <h4 class="descriptions">SmartTv Samsung 43</h4>
                </div>
            </article>
            
        </section>
    </div>
        
        <section><h3 class="title-section">Ofertas</h3>
            
            <div class="product-division">
                <article class="products">
                    
                    <img class="photo-product" src="./images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera">
                    
                    <div class="product-detail">
                        
                        <div class="logo-shipping"><i class="fas fa-truck"></i></div>
                        <div class="price-discounts">
                            <p class="price">$6.770</p>
                            <p class="discounts">40% OFF</p>
                        </div>
                        <h4 class="descriptions">Cafetera Moulinex</h4>
                    </div>
                </article>
                
                <article class="products">
                    
                    <img class="photo-product" src="./images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
                    
                    <div class="product-detail">
                        
                        <div class="logo-shipping"><i class="fas fa-truck"></i></div>
                        <div class="price-discounts">
                            <p class="price">$230.000</p>
                            <p class="discounts">20% OFF</p>
                        </div>
                        <h4 class="descriptions">MacBook Pro 2019</h4>
                    </div>
                </article>
                
                <article class="products">
                    
                    <img class="photo-product" src="./images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
                    
                    <div class="product-detail">
                        
                        <div class="logo-shipping"><i class="fas fa-truck"></i></div>
                        <div class="price-discounts">
                            <p class="price">$70.500</p>
                            <p class="discounts">10% OFF</p>
                        </div>
                        <h4 class="descriptions">Samsung Galaxy S10</h4>
                    </div>
                </article>
                
                <article class="products">
                    
                    <img class="photo-product" src="./images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv">
                    
                    <div class="product-detail">
                        
                        <div class="logo-shipping"><i class="fas fa-truck"></i></div>
                        <div class="price-discounts">
                            <p class="price">$23.200</p>
                            <p class="discounts">5% OFF</p>
                        </div>
                        <h4 class="descriptions">SmartTv Samsung 43</h4>
            </div>
                    </div>
                </article>
                
            </section>
        </main>
        
        <footer class="footer-login">            
            
            <section class="footer-subtitle">
                <div class="footer-icons-login"><i class="fas fa-credit-card"></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3>                
                <p class="footer-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>            
                </section>

            <section class="footer-subtitle">

            <div class="footer-icons-login"><i class="fas fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="footer-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="footer-subtitle">
            <div class="footer-icons-login"><i class="fas fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p class="footer-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>        
        </section>
        
    </footer>
    <h3 class="copyright-section">Copyright © 1999-2022 MercadoLiebre S.R.L. </h3>
</body>
</html>