<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Argentina</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body-login">
    <header>

        <div class="header-top-bar">
            <div class="smartphone-top-bar">
                <img class="logo-main" src="./images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                    <div class="search-bar">Buscar productos, marcas</div>
                    <div class="search-icon"><i class="fas fa-search"></i></div>
            </div>
            <p class="hand-holding-usd"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="nav-bar-login">
            <ul type="none" class="nav-bar-sections-login">
              <li><a href="" class="site">Ofertas</a></li>
              <li><a href="" class="site">Tiendas Oficiales</a></li>
              <li><a href="" class="site">Vender</a></li>
              <li><a href="" class="site">Ayuda</a></li>
            </ul>
            <ul type="none" class="nav-bar-sections-login">
                <li><a href="/register" class="site">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login" class="site">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/" class="site">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>

    </header>
    <main>
        
        <div>
            <form action="/login" method="POST"></form>        
            <input type="email" name="username" placeholder="Nombre de usuario" class="control-login">
        
            <br>
        
            <input type="password" name="password" placeholder="Contraseña" class="control-login">
        
            <br>
        
            <a href="/"><button type="submit" class="button-form-send-login">Enviar</button></a>
        </div>
        </main>
        
        <footer class="footer-login">            
            
            <section class="footer-subtitle">
                <div class="footer-icons-login"><i class="fas fa-credit-card"></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3>                
                <p class="footer-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>            
                </section>

            <section class="footer-subtitle">

            <div class="footer-icons-login"><i class="fas fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="footer-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="footer-subtitle">
            <div class="footer-icons-login"><i class="fas fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p class="footer-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>        
        </section>
        
    </footer>
    <h3 class="copyright-section">Copyright © 1999-2022 MercadoLiebre S.R.L. </h3>
        
</body>
</html>